footer {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';

    color: #000000;
    border-top: 1px solid #3c3c3c20;
    background: #f7f7f7;
}

.main-footer {
    width: 100%;
    display: flex;
    padding: 15px;
    align-items: end;

    @media screen and (min-width: 1441px) and (max-width: 2560px) {
        height: 80px;
        font-size: 40px;
    }
    @media screen and (min-width: 769px) and (max-width: 1440px) {
        height: 55px;
        font-size: 20px;
    }
    @media screen and (min-width: 551px) and (max-width: 768px) {
        padding: 10px;
        height: 40px;
        font-size: 17px;
    }
    @media screen and (max-width: 550px) {
        padding: 10px;
        height: 40px;
        font-size: 14px;
    }

    font-weight: 400;
    line-height: 120%;
}

.add-footer {
    width: 100%;
    /* padding: 15px; */
    /* padding-top: 7px; */

    @media screen and (min-width: 1441px) and (max-width: 2560px) {
        font-size: 40px;
    }
    @media screen and (min-width: 769px) and (max-width: 1440px) {
        font-size: 12px;
    }
    @media screen and (min-width: 551px) and (max-width: 768px) {
        padding: 10px;
        font-size: 10px;
    }
    @media screen and (max-width: 550px) {
        padding: 10px;
        font-size: 8px;
    }
}

.contacts {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.contact {
    margin-left: 20px;
    margin-right: 20px;
}

.location {
    margin-left: auto;
}