* {
    margin: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #3c3c3c20;

    @media screen and (min-width: 1441px) and (max-width: 2560px) {
        font: 40px 'Roboto';
        height: 80px;
    }
    @media screen and (min-width: 769px) and (max-width: 1440px) {
        font: 20px 'Roboto';
        height: 55px;
    }
    @media screen and (min-width: 551px) and (max-width: 768px) {
        font: 17px 'Roboto';
        height: 50px;
    }
    @media screen and (max-width: 550px) {
        font: 14px 'Roboto';
        height: 50px;
    }
    
    font-weight: 500;
    line-height: 120%;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    padding-left: 2%;
    padding-right: 2%;

    display: flex;
    align-items: center;
    box-sizing: border-box;

    z-index: 1000; 
}

.logo {
    height: 80%;
    /* max-width: 45px; */

    object-fit: contain;
}

.internship-category-list {
    padding-left: 4%;
    padding-right: 2%;
    
    @media screen and (min-width: 1441px) and (max-width: 2560px) {
        width: 800px;
    }
    @media screen and (min-width: 769px) and (max-width: 1440px) {
        width: 400px;
    }
    @media screen and (min-width: 551px) and (max-width: 768px) {
        width: 300px;
    }
    @media screen and (max-width: 550px) {
        width: 225px;
    }


    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.internship-category-list a {
    color: rgba(0, 0, 0, 0.6); 
}

.active-internship-category a{
    color: rgba(0, 0, 0, 1); 
}

.form {
    margin-left: auto;
    margin-right: 3%;
}

#login-button {
    border: none;
    background: transparent;

    @media screen and (min-width: 1441px) and (max-width: 2560px) {
        font: 40px 'Roboto';
    }
    @media screen and (min-width: 769px) and (max-width: 1440px) {
        font: 20px 'Roboto';
    }
    @media screen and (min-width: 551px) and (max-width: 768px) {
        font: 17px 'Roboto';
    }
    @media screen and (max-width: 550px) {
        font: 14px 'Roboto';
    }
    
}

.swal2-title {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 35px;
    color: black;
}

.swal2-input {
    font-family: 'Inter';
    border: 1px solid rgba(0, 0, 0, 0.507);
}

.swal2-confirm {
    font-family: 'Roboto';
    border: 1px solid black;
    background-color: white;
    color: black;
}

.swal2-cancel {
    font-family: 'Roboto';
    border: 1px solid black;
    background-color: white;
    color: black; 
}
